<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
</head>
<body>
    <section class="bg-gray-900 text-white text-2xl flex justify-end py-2 px-3 ">
        <nav>
            <ul class="flex space-x-4 ">
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Articles</a></li>
            </ul>
        </nav>
    </section>
   <article class="h-screen items-center flex flex-col justify-center   bg-gradient-to-r from-gray-700 via-pink-300 to-gray-700">
       <section>
           <h2 class="text-3xl font-bold my-2">Add new article</h2>
       </section>
        <section class="article-form-section">
            <form action="/articles" method="POST" class="flex flex-col items-center justify-center  rounded    w-full ">
                <input type="text" name="title" placeholder="Title of the blog" id="title" class="w-96 p-2 m-1 rounded" required>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter your blog description" class="w-96 p-2 m-1 rounded"></textarea>
                <input type="text" name="tags" id="tags" placeholder="Tags" class="w-96 p-2 m-1 rounded">
                <!-- <input type="hidden" name="authorId" id="authorId"> -->
                <input type="submit" value="Create Blog" class = 'create-blog-btn m-2 py-2 px-3 rounded bg-blue-500 cursor-pointer hover:bg-green-800 hover:text-white'>
            </form>
        </section>
   </article>
</body>
</html>