<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
</head>
    <body>
        <section class="bg-gray-900 text-white text-1xl text-center p-2">
            <h2>All copyrights &copy; Village Vibes ,2020</h2>
        </section>  
    </body>
</html>