<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
</head>
<body>
    <header class="header flex flex-row justify-between  container mx-auto px-4 py-3 bg-gray-900 items-center ">
        <section class="logo-section ">
            <a class="text-3xl font-bold text-white" href="/"><h2>NGReddy</h2></a>
        </section>
        <section class="nav-section">
            <ul class="nav-items flex flex-row justify-between">
                <li class="px-2 text-1xl text-white font-semibold"><a href="/">Home</a></li>
                <li class="px-2 text-1xl text-white font-semibold"><a href="/articles">My Blogs</a></li>
            </ul>
        </section>
    </header>
</body>
</html>