<!DOCTYPE html>
<html>
  <head>
    <title>Nature Blog</title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body>
     <article class="bg-local h-screen bg-cover 	  " style="background-image: url(/images/bg.jpg)">
        <section class="hero-banner flex flex-col place-content-center bg-yellow-300	 bg-opacity-40  h-full justify-center items-center">
          <h2 class="text-7xl font-bold py-2 t.textShadowLg">Welcome to blog of <span class="text-white">Nature</span></h2>
          <h3 class="text-4xl py-3 font-semibold">A blog from village vibes</h3>
          <h4 class="text-2xl py-3 m-2 font-semibold bg-black p-1 bg-opacity-30">" Look deep into<span class="text-3xl font-bold px-1 text-white ">Nature</span>and then you will understand everything better "</h4>
          <a class="m-2 py-3 px-5 bg-white text-gray-900 rounded-2xl	hover:bg-gray-900 hover:text-white" href="/articles">Go to Blogs</a>
        </section>
     </article>
     <%- include('footer'); -%>
  </body>
</html>
